# Shared
NODE_ENV=development

# API
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/forumo?schema=public
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=please-change-me-access
JWT_REFRESH_SECRET=please-change-me-refresh
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Web
VITE_API_URL=http://localhost:3000/v1
